:root {
  --canvas-colour: #dfdde6;
  --secondary-colour: #141414;
  --accent-colour: #ff2306;
}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #333;
  /* Rest of the styles */
}

body {
  padding-top: 50px;
  background-color: var(--canvas-colour);
  /* Adjust this value based on the height of your navbar */
}

.custom-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-nav-item {
  float: left;
}

.custom-nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.custom-nav-link:hover {
  background-color: #ddd;
  color: black;
}

.software-container-top {
  text-align: center;
  padding-top: 20px;
}

.hero {
  margin-bottom: 3%;
  text-align: center;
}

.directory {
  margin-top: 3%;
  text-align: center;
}

.directory-card {
  color: var(--canvas-colour);
  background-color: var(--secondary-colour);
}

.button-default {
  text-align: center;
  color: var(--canvas-colour);
  background-color: var(--accent-colour);
  margin: 1%;
}